:root { --commoncolor: darkred; }
:root { --commoncolor2: rgb(207, 131, 144); }


body{
  background-color: cornsilk;
}

h1{
    color: pink;
   text-shadow: -3px 3px 0 var(--commoncolor), -3px 3px 0 var(--commoncolor), -1px 1px 0 var(--commoncolor), 1px 1px 0 var(--commoncolor);
    position:relative; 
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Flag_of_Wales.svg/640px-Flag_of_Wales.svg.png");
    background-size: 150px;
    width: 100%;
    height: 80px;
    text-align: center;
}
.button{
  font-size: 15px;
  font-weight: normal;
  border: 1px solid pink;
  position: relative;
  left: 40%;
  width: 20%;
  height: 20;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 7px;
  color: var(--commoncolor2);
  background-color: pink;
}
a:hover{
 color: var(--commoncolor);
}
a:active{
  color:black;
}
p{
  color: var(--commoncolor2); 
  font-family: Arial, Helvetica, sans-serif;
}

img{
  position: relative;
  width: 600px;
  height: 250px;
  border: 10px solid pink;
}
a{
  color: white;
}


table { 
  width: 100%;
  border: 2px solid pink ;
  background-color: lightgoldenrodyellow;
  position: relative;  
}
th {
  width: 15%;
  border: 1px solid pink;
  color: pink; 
}
td{
 font-size: 10pt;
 border: 1px solid pink;
 color: pink;
}
caption {
  background-color:	pink;
  color: white;
}
#tinyphoto{
  position: relative;
  width:20px;
  height: 20px;
  border: 0px;
}
.firstpara::first-line{
  font-size: 14pt;
}